NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/pitchday
JWT_ACCESS_SECRET=your_access_secret_min_32_chars_long_xxxx
JWT_REFRESH_SECRET=your_refresh_secret_min_32_chars_long_xxx
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=